%footer.footer
  .row-fluid
    .span3
      = link_to t('.news'), novedades_path
    .span3
      = link_to t('.faq'), preguntas_path
    .span3
      = link_to t('.contact'), contacto_path
    .span3
      = link_to t('.about_us'), contacto_path
