#locale_selector.btn-group.pull-right.hide
  %a{href: '#', class: 'btn btn-primary dropdown-toggle', data: { toggle: 'dropdown' }}
    Idioma
    %span.caret
  %ul.dropdown-menu
    %li
      %a{href: '../en' } Ingles
    %li
      %a{href: '../es' } Español
