.login
  .login-buttons
    - if session[:user_id]
      = link_to t('.exit'), logout_path, method: :delete, class: 'btn btn-danger btn-small stitched'
    - else
      = link_to t('.login'), login_path, class: 'btn btn-info btn-small stitched'
