%ul.main-nav
  %li= link_to t('.offers'), promociones_path, class: current_section([promociones_path])
  %li= link_to t('.products'), store_index_path, class: current_section([store_index_path])
  %li= link_to t('.cart'), @cart, class: current_section([@cart])
= render partial: 'store/store_submenu'
