%tr{ id: dom_id(payment_method) }
  %td= payment_method.name
  %td= payment_method.description
  %td
    = srbuj_link_to_edit edit_admin_payment_method_path(payment_method)
    = srbuj_link_to_destroy ['admin', payment_method], confirm: t('admin.payment_methods.index.confirm'), data: { target: dom_id(payment_method) }