%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= PaymentMethod.human_attribute_name :name
      %th= PaymentMethod.human_attribute_name :description
      %th
  %tbody#payment_methods_body
    = render @payment_methods
= link_to t('.new'), new_admin_payment_method_path, class: 'btn btn-primary stitched', remote: true, data: { target: 'modal', modal: true }