%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= PaymentMethod.human_attribute_name :name
      %th= PaymentMethod.human_attribute_name :description
      %th
  %tbody#payment_methods_body
    = render @payment_methods
= srbuj_link_to_new t('.new'), new_admin_payment_method_path, title: t('admin.payment_methods.index.new_tooltip')