.floating-cart{ data: { element: 'floating-cart' } }
  .cart
    %h3 Su carrito
    %hr
    %table.table
      %thead
        %tr
          %th Item
          %th
          %th
      %tbody#line_items_table_body
        = render partial: 'line_items/floating_line_item', collection: cart.line_items if cart
      %tr
        %td Total:
        %td
          %b
            $
            %span{ data: { type: 'cart-total' } }= cart.total_price.to_f if cart
        %td
    = link_to t('carts.cart.buy'), new_order_path, class: 'btn btn-primary btn-large stitched', remote: true, data: { target: 'modal', modal: true }
    = link_to t('carts.cart.emptycart'), cart, method: :delete, confirm: t('carts.cart.confirm'), class: 'btn btn-danger btn-small stitched'
  .cart-tab{ data: { action: 'toggle-cart', toggle: 'tooltip' }, title: 'Abrir el carrito' }
    .icon.icon-shopping-cart.big-icon
