%table.table.table-striped
  %thead
    %tr
      %th Cantidad
      %th Producto
      %th Subtotal
  %tbody
    - @order.line_items.each do |item|
      %tr
        %td= item.quantity
        %td= ( item.product ? item.product.titulo : item.promotion.title )
        %td= number_to_currency item.total_price
    %tr
      %td
      %td Total
      %td{style: "font-size: 1.5em;"}= number_to_currency @order.total
