%table{ style: 'max-width:100%; background-color:transparent; border-collapse:collapse; border-spacing:0; width:100%; margin-bottom:20px; margin-top:20px;'}
  %thead
    %tr{ style: 'border-top:1px solid #dddddd;' }
      %th{ style: 'padding:8px; line-height:20px; text-align:center;' } Cantidad
      %th{ style: 'padding:8px; line-height:20px; text-align:center;' } Producto
      %th{ style: 'padding:8px; line-height:20px; text-align:center;' } Subtotal
  %tbody
    - @order.line_items.each do |item|
      %tr{ style: 'padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;' }
        %td{ style: 'padding:8px; line-height:20px; text-align:center;' }= item.quantity
        %td{ style: 'padding:8px; line-height:20px; text-align:center;' }= ( item.product ? item.product.titulo : item.promotion.title )
        %td{ style: 'padding:8px; line-height:20px; text-align:center;' }= number_to_currency item.total_price
    %tr{ style: 'padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;' }
      %td
      %td{ style: 'padding:8px; line-height:20px; text-align:right;' }  Total
      %td{style: 'font-size: 1.5em; padding:8px; line-height:20px; text-align:center;'}= number_to_currency @order.total
