%h1= "Sr./Sra. #{@order.name}"
.row
  .span6
    Su orden de:
    = render partial: 'order_mailer/order'
  .span5
    %p
      El número de su pedido es:
      %span{style: 'font-size: 1.5em; color: green;'}= @order.number

%p Ya esta preparada y lista para ser entregada. Nos comunicaremos a la brevedad para establecer hora y punto de encuentro.
