%h1= "Sr./Sra. #{@order.name}"
Gracias por su compra, su pedido ya esta listo y en camino.

.row
  .span6
    Su orden:
    = render partial: 'order_mailer/order'
  .span5
    %p
      El número de su pedido es:
      %span{style: 'font-size: 1.5em; color: green;'}= @order.number

Un Mundo De Ovejitas.