%table.table.table-bordered.table-striped
  %thead
  %tbody#products_body
    = render @products

= will_paginate @products
= srbuj_link_to_new t('admin.products.index.new'), new_admin_product_path, title: t('admin.products.index.add_tooltip')