<h1><div id="titulo">Precio nuevo para -:<%= @product.titulo %>:-</div></h1>

<%= link_to 'Ãndice de Productos', admin_products_path %>
&gt; <%= link_to @product.titulo, @product%>
<br/><br/>

<%= render 'precionuevo_form' %><br/><br/>