.modal
  = simple_form_for @promotion_line, html: { remote: true, data: { target: 'promotion_lines', error: 'modal', modal: true, callback: 'updatePromotionTotal' }, class: 'modal-form form-horizontal' } do |f|
    .modal-title
      %h2 Escoje el producto a agregar
    .modal-body
      ='&#xe05a;'.html_safe
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = f.button :submit, class: 'btn btn-primary'