.modal
  = simple_form_for @post, html: { remote: true, data: { target: 'posts_body', modal: true, error: 'modal' } } do |f|
    .modal-header
      %h1 Nueva novedad
    .modal-body
      = render partial: 'form', locals: { f: f }
    .modal-footer
      = f.submit t('posts.form.submit'), class: 'btn btn-primary stitched btn-large', disable_with: t('posts.form.submiting')
      = yield :form_actions
