#store {
  background: url(image-path('page-background.png')) fixed;
}
.banner {
  height: 80px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.banner-content {
  padding: 30px 5px 5px 5px;
  .title {
    display: inline-block;
    font-size: 4em;
    font-family: pacificoregular;
  }
  .title a, title a:visited, title a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 2px 0px 0px rgba(0,0,0,0.65);
  }
}

.rainbow-background {
  height: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cc0000), color-stop(12.5%, #cc0000), color-stop(12.5%, #ff9900), color-stop(25%, #ff9900), color-stop(25%, #ffff66), color-stop(37.5%, #ffff66), color-stop(37.5%, #669933), color-stop(50%, #669933), color-stop(50%, #33cccc), color-stop(62.5%, #33cccc), color-stop(62.5%, #0099cc), color-stop(75%, #0099cc), color-stop(75%, #3333cc), color-stop(87.5%, #3333cc), color-stop(87.5%, #9966cc), color-stop(100%, #9966cc));
  background-image: -webkit-linear-gradient(left, #cc0000, #cc0000 12.5%, #ff9900 12.5%, #ff9900 25%, #ffff66 25%, #ffff66 37.5%, #669933 37.5%, #669933 50%, #33cccc 50%, #33cccc 62.5%, #0099cc 62.5%, #0099cc 75%, #3333cc 75%, #3333cc 87.5%, #9966cc 87.5%, #9966cc);
  background-image: -moz-linear-gradient(left, #cc0000, #cc0000 12.5%, #ff9900 12.5%, #ff9900 25%, #ffff66 25%, #ffff66 37.5%, #669933 37.5%, #669933 50%, #33cccc 50%, #33cccc 62.5%, #0099cc 62.5%, #0099cc 75%, #3333cc 75%, #3333cc 87.5%, #9966cc 87.5%, #9966cc);
  background-image: -o-linear-gradient(left, #cc0000, #cc0000 12.5%, #ff9900 12.5%, #ff9900 25%, #ffff66 25%, #ffff66 37.5%, #669933 37.5%, #669933 50%, #33cccc 50%, #33cccc 62.5%, #0099cc 62.5%, #0099cc 75%, #3333cc 75%, #3333cc 87.5%, #9966cc 87.5%, #9966cc);
  background-image: linear-gradient(left, #cc0000, #cc0000 12.5%, #ff9900 12.5%, #ff9900 25%, #ffff66 25%, #ffff66 37.5%, #669933 37.5%, #669933 50%, #33cccc 50%, #33cccc 62.5%, #0099cc 62.5%, #0099cc 75%, #3333cc 75%, #3333cc 87.5%, #9966cc 87.5%, #9966cc);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}

.footer {
  color: white;
  background-color: #666666;
  text-align: center;
  padding: 10px;
  a {
    transition: font-size 0.5s;
    text-decoration: none;
    position: relative;
    top: 5px;
    color: white;
  }
  a:hover {
    transition: font-size 0.5s;
    font-size: 20px;
  }
}
