//#old stuff
@font-face {
  font-family: 'FreestyleScriptITCNormal';
  src: url("fonts/FreestyleScriptITCNormal.ttf");
  src: url("fonts/FreestyleScriptITCNormal.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Global styles */

//body a:hover{
//  color: #000;
//  background: #ff7c00;
//  padding: 3px;
//  border-radius:10px;
//}
//
//td a{
//  padding: 3px;
//  border-radius:10px;
//}

div#panelControl{
  //margin-top: 10px;
  //padding: 10px;
  border-top: 1px dotted #FF7C00;
}

#banner {
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(41,41,41) 66%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(41,41,41) 66%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(41,41,41) 66%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(41,41,41) 66%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.3, rgb(0,0,0)),
      color-stop(0.66, rgb(41,41,41))
  );
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font-family: 'FreestyleScriptITCNormal';
  font-family: 'FreestyleScriptITCNormal';
  font: small-caps 40px/40px "Times New Roman",serif;
  /*este color es para las letras y tambien para el borde*/
  color:#ff7c00;
  text-align: center;
  width: 100%;
  height: 80px;
}

#banner img{
  float: left;
  position: absolute;
  top: 20px;
  left: 6px;
}
#banner #idiomas{
  float: right;
}

#store #notice {
  color: #000;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

h1{
  padding-bottom: 15px;
  font-family: 'FreestyleScriptITCNormal';
  font-size: 35px;
  border-bottom: 3px #ff7c00 dotted;
}
#store #titulo1 {
  font-family: 'FreestyleScriptITCNormal';
  font-size: 45px;
}
#titulo1 img{
  position: relative;
  padding-left: 280px;
  top: 0px;
}

/* Styles for products/index */

#product_list table {
  border-collapse: collapse;
}

#product_list table tr td {
  border-radius: 10px;
  padding: 5px;
  vertical-align: top;
}

#product_list .list_image {
  width:        80px;
}
#product_list .list_image:hover {
  -webkit-transform: scale(2,2);
}

#product_list .list_description {
  width:        80%;
}

#product_list .list_description dl {
  margin: 0;
}

#product_list .list_description dt {
  color: #000;
  font-weight:  bold;
  font-size:    larger;
}

#product_list .list_description dd {
  margin: 0;
}

#product_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:#ffe1b4
}

#product_list .list_line_odd {
  background:#d7d7d6
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  transition:width 0.5s;
  -moz-transition:width 0.5s; /* Firefox 4 */
  -webkit-transition:width 0.5s; /* Safari and Chrome */
  -o-transition:width 0.5s; /* Opera */
}

#store .entry img:hover{
  background: none;
  width: 150px;
}


#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

#store a{
  text-decoration: none;
}

h3 a:visited{
  color: #000;
}
h3 a:hover{
  color:#000;
}



#store .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

#store .entry .price_line {
  /* clear: both;*/
  margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#store .entry form, #store.entry form div{
  display: inline;
}

#store .cart_title{
  font: 120% bold;
}

#store .item_price, #store .total_line{
  text-align: right;
}

#store .total_line .total_cell{
  font-weight: bold;
  border-top: 1px solid #ff7c00;
}

#store .total_line{
  position:absolute;
  left: 100px;
}

#colums{
  background: #000;
}

#main {
  //margin-left: 18em;
  //padding-top: 4ex;
  //padding-left: 2em;
  //background:  white;
  //border-left:3px solid #ff7c00;
}

#side {
  float: left;
  padding-top: 1em;
  border-right:3px solid #ff7c00;
  width: 18em;
  background: #000;

}

//#side #finalizacion{
//  height: 100px;
//  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(255,255,255) 66%);
//  background-image: -moz-linear-gradient(center bottom , #FFFFFF 30%, #000000 66%);
//  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(255,255,255) 66%);
//  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 30%, rgb(255,255,255) 66%);
//
//  background-image: -webkit-gradient(
//      linear,
//      left top,
//      left bottom,
//      color-stop(0.3, rgb(0,0,0)),
//      color-stop(0.66, rgb(255,255,255))
//  );
//}

//#cart, #cart table{
//  font-size: smaller;
//  color: white;
//}
//
//#cart table{
//  border-top: 1px dotted #ff7c00;
//  border-bottom: 1px dotted #ff7c00;
//  margin-bottom: 10px;
//}

.depot_from fieldset{
  background:#ffe8be;
}

.depot_from legend{
  color:#ff7c00;
  background: #000;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_from label{
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.depot_from select, .depot_from textarea, .depot_from input{
  margin-left: 0.5em;
}

.depot_from .submit{
  margin-left: 4em;
}

.depot_from div{
  margin: 0.5em 0;
}

#locale{
  position: relative;

}
#locale li{
  margin: 0px;
  padding:0px;
  list-style:none;
  float: right;
  top: 0px;

}
#locale li, #locale a{
  padding:0px;
  height:50px;
  display: block;
}

#en{
  left:0px;
  width:50px;
  background: url('locales.png') -50px -99px;
}
#en a:hover{background: url('locales.png') -50px 0px;}
#es{
  left:50px;
  width:50px;
  background: url('locales.png') -50px -150px;
}
#es a:hover{background: url('locales.png') -50px -51px;}
#fr{
  left:100px;
  width:50px;
  background: url('locales.png') 0px -100px;
}
#fr a:hover{background: url('locales.png') 0px 0px;}
#it{
  left:150px;
  width:50px;
  background: url('locales.png') 0px -150px;
}
#it a:hover{background: url('locales.png') 0px -51px;}


#mediopagos_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}
#mediopagos_list .list_line_even {
  background:#ffe1b4
}
#mediopagos_list .list_line_odd {
  background:#d7d7d6
}
#mediopagos_list table {
  border-collapse: collapse;
}
#mediopagos_list table tr td {
  border-radius: 10px;
  padding: 5px;
  vertical-align: top;
}
#mediopagos_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}


#user_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}
#user_list .list_line_even {
  background:#ffe1b4
}
#user_list .list_line_odd {
  background:#d7d7d6
}
#user_list table {
  border-collapse: collapse;
}
#user_list table tr td {
  border-radius: 10px;
  padding: 5px;
  vertical-align: top;
}
#user_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}


#order_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}
#order_list .list_line_even {
  background:#ffe1b4
}
#order_list .list_line_odd {
  background:#d7d7d6
}
#order_list table {
  border-collapse: collapse;
}
#order_list table tr td {
  border-radius: 10px;
  padding: 5px;
  vertical-align: top;
}
#order_list .list_actions {
  font-size:    12px;
  text-align:   right;
  padding-left: 1em;
}

.imagen{
  float: left;
  width: 500px;
}
div .datos{
  position: relative;
  left: 25px;
}
div .datos #links{
  position:relative;
  left: 50px;
}
div .datos #links a{
  border: #000;
  padding:3px;
  border-radius: 10px;
  background-color: #666;
}
#links a:link{
  text-decoration: none;
}
#links a:visited{
  color: #000;
  text-decoration: none;
}
div .datos #links a:hover{
  color: #fff;
  background-color: #ff7c00;
}

#paginacion{
  padding-left: 150px;
}

.detalleOrden{
  border: 2px solid #000;
  border-radius: 25px;
  padding:10px;
  margin-bottom: 15px;
}
.detalleOrden #segundaCol{
  padding-left: 10px;
}
#total_orden{
  color: #ff7c00;
}
#total_orden #total{
  text-align: right;
}
#total_orden #total_num{
  border-top: 1px solid;
}