.floating-cart {
  transition: all 0.1s;
  position: fixed;
  top: 30%;
  left: -290px;
  display: inline-block;
  z-index: 3;
  .cart-tab {
    position: relative;
    display: inline-block;
    padding: 15px;
    background-color: rgba(130, 130, 130, 0.8);
    border-radius: 0px 10px 10px 0px;
    .big-icon {

    }
  }
  .cart {
    display: inline-block;
    background-color: rgba(130, 130, 130, 0.8);
    padding: 15px;
    position: relative;
    left: 4px;
    width: 250px;
  }
}

.cart-total {
  font-family: pacificoregular;
  font-size: 45px;
}
