$darkred: #cc0000;
$orange: #ff9900;
$yellow: #ffff66;
$green: #669933;
$lightblue: #33cccc;
$cyan: #0099cc;
$blue: #3333cc;
$violet: #9966cc;

.colorFullMenu{
  margin-top: 10px;
  margin-left: -10px;
  width: 100%;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  border-radius:4px;
}

.colorFullMenu li{
  padding: 10px;
}

.colorFullMenu li:last-of-type{
  border-bottom:none;
}

.colorFullMenu li > a{
  display: block;
  height: 100%;
  width: auto;
  font-weight: bold;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  transition:all 0.3s linear;
}

.colorFullMenu.left li > a{
  border-radius: 0px 4px 4px 0px;
  padding: 5px 0px 5px 20px;
  text-align: left;
}

.colorFullMenu.right li > a{
  border-radius: 4px 0px 0px 4px;
  padding: 5px 20px 5px 0px;
  text-align: right;
}

.colorFullMenu li > a:hover{
  text-decoration: none;
}

.colorFullMenu li.sublist{
}

/*Cabecera de sublista*/
.colorFullMenu li > ul li:last-of-type{
  border-radius:0px !important;
}

/*Solo listas que esten dentro de otras listas*/
.colorFullMenu li > ul{
  margin: 0;
}

.colorFullMenu li > ul li{
  padding:0px;
}

/*header se define a la categoria principal*/
.colorFullMenu .header{
  border-bottom:1px solid #f3f3f3;
  font-weight: bold;
  color:#333;
  padding: 0;
}

.colorFullMenu .header a{
  border-radius:0px;
}

.colorFullMenu.left .header a{
  padding: 10px 0px 10px 10px !important;
}
.colorFullMenu.right .header a{
  padding: 10px 10px 10px 0px !important;
}

.colorFullMenu.left .header:first-of-type a{
  border-radius:0px 4px 0px 0px;
}

.colorFullMenu.right .header:first-of-type a{
  border-radius:4px 0px 0px 0px;
}

/*Bordes*/

.colorFullMenu.left .border{
  border-left-width: 4px;
  border-left-style: solid;
}
.colorFullMenu.right .border{
  border-right-width: 4px;
  border-right-style: solid;
}

/*Rojo*/
.colorFullMenu.left .border.red{
  border-left-color: $darkred;
}
.colorFullMenu.right .border.red{
  border-right-color: $darkred;
}
.colorFullMenu .border.red a:hover,
.colorFullMenu.left .border.red a.current-section,
.colorFullMenu.left .border.red a.current-subsection {
  color:#fff;
  background-color: rgba(189, 0, 18, 0.5);
}

/*Naranja*/
.colorFullMenu.left .border.orange{
  border-left-color: $orange;
}
.colorFullMenu.right .border.orange{
  border-right-color: $orange;
}
.colorFullMenu .border.orange a:hover,
.colorFullMenu.left .border.orange a.current-section,
.colorFullMenu.left .border.orange a.current-subsection {
  color:#fff;
  background-color: rgba(243, 154, 0, 0.5);
}

/*Amarillo*/
.colorFullMenu.left .border.yellow{
  border-left-color: $yellow;
}
.colorFullMenu.right .border.yellow{
  border-right-color: $yellow;
}
.colorFullMenu .border.yellow a:hover,
.colorFullMenu.left .border.yellow a.current-section,
.colorFullMenu.left .border.yellow a.current-subsection {
  color:#fff;
  background-color: rgba(255, 206, 66, 0.5);
}

/*Verde*/
.colorFullMenu.left .border.green{
  border-left-color: $green;
}
.colorFullMenu.right .border.green{
  border-right-color: $green;
}
.colorFullMenu .border.green a:hover,
.colorFullMenu.left .border.green a.current-section,
.colorFullMenu.left .border.green a.current-subsection {
  color:#fff;
  background-color: rgba(110, 154, 46, 0.5);
}

/*Celeste*/
.colorFullMenu.left .border.lightBlue{
  border-left-color: $lightblue;
}
.colorFullMenu.right .border.lightBlue{
  border-right-color: $lightblue;
}
.colorFullMenu .border.lightBlue a:hover,
.colorFullMenu.left .border.lightBlue a.current-section,
.colorFullMenu.left .border.lightBlue a.current-subsection {
  color:#fff;
  background-color: rgba(96, 203, 202, 0.5);
}

/*Cyan*/
.colorFullMenu.left .border.cyan{
  border-left-color: $cyan;
}
.colorFullMenu.right .border.cyan{
  border-right-color: $cyan;
}
.colorFullMenu .border.cyan a:hover,
.colorFullMenu.left .border.cyan a.current-section,
.colorFullMenu.left .border.cyan a.current-subsection {
  color:#fff;
  background-color: rgba(3, 107, 204, 0.5);
}

/*Azul*/
.colorFullMenu.left .border.blue{
  border-left-color: $blue;
}
.colorFullMenu.right .border.blue{
  border-right-color: $blue;
}
.colorFullMenu .border.blue a:hover,
.colorFullMenu.left .border.blue a.current-section,
.colorFullMenu.left .border.blue a.current-subsection {
  color:#fff;
  background-color: rgba(64, 149, 204, 0.5);
}

/*Violeta*/
.colorFullMenu.left .border.violet{
  border-left-color: $violet;
}
.colorFullMenu.right .border.violet{
  border-right-color: $violet;
}
.colorFullMenu .border.violet a:hover,
.colorFullMenu.left .border.violet a.current-section,
.colorFullMenu.left .border.violet a.current-subsection {
  color:#fff;
  background-color: rgba(134, 50, 204, 0.5);
}