.main-nav {
  margin-top: 10px;
  margin-left: 0px;
  text-align: center;
  font-family: FontAwesome;
  border-bottom: 1px solid rgba(55,55,55,0.2);;
  ul, li{
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    a {
      transition: all 0.2s;
      padding: 10px 15px 0 15px;
      text-decoration: none;
      border-left: 1px solid rgba(55,55,55,0.2);
      border-right: 1px solid rgba(55,55,55,0.2);
    }
    a:hover {
      transition: all 0.2s;
      background: rgba(55,55,55,0.2);
      border-radius: 15px 15px 0 0;
      position: relative;
      bottom: -3px;
    }
  }
  .current-section {
    background: rgba(55,55,55,0.2);
    border-radius: 15px 15px 0 0;
    position: relative;
    bottom: -3px;
  }
}