.main-nav {
  margin-top: 10px;
  margin-left: 0px;
  text-align: center;
  font-family: FontAwesome;
  border-bottom: 2px solid rgba(255,255,255,1);;
  ul, li{
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    a {
      transition: all 0.2s;
      padding: 10px 15px 0 15px;
      text-decoration: none;
      border-left: 1px solid rgba(55,55,55,0.2);
      border-right: 1px solid rgba(55,55,55,0.2);
    }
    a:hover {
      transition: all 0.2s;
      background: rgba(255,255,255,0.8);
      border-radius: 15px 15px 0 0;
      position: relative;
      bottom: -3px;
    }
  }
  .current-section {
    background: rgba(255,255,255,0.8);
    border-radius: 15px 15px 0 0;
    position: relative;
    bottom: -3px;
  }
}

.store-nav {
  margin-top: 5px;
  margin-left: 0px;
  text-align: center;
  font-family: FontAwesome;
  ul, li{
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    a {
      transition: all 0.2s;
      padding: 5px 15px;
      text-decoration: none;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
    }
    a:hover {
      transition: all 0.2s;
      background: rgba(255,255,255,0.8);
      border-left: 1px solid rgba(55,55,55,0.2);
      border-right: 1px solid rgba(55,55,55,0.2);
      border-radius: 0 0 15px 15px;
      position: relative;
      bottom: 5px;
    }
  }
  .current-subsection {
    background: rgba(255,255,255,0.8);
    border-left: 1px solid rgba(55,55,55,0.2);
    border-right: 1px solid rgba(55,55,55,0.2);
    border-radius: 0 0 15px 15px;
    position: relative;
    bottom: 5px;
  }
}