.promotion {
  color: white;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  margin: 10px 0 10px 0;
  -webkit-box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.8) inset;

  .total {
    color: black;

    span {
      font-size: 2em;
    }
  }
  .title {
    text-shadow: 0px 5px 10px rgba(0,0,0,0.75);
  }
}

.promotion-red {
  background:
    linear-gradient(
      rgba(179, 0, 29, 0.45),
      rgba(179, 0, 29, 0.45)
    ),
    image-url("promotions/strip-background-light.jpg");
}
.promotion-green {
  background:
    linear-gradient(
      rgba(41, 179, 0, 0.44),
      rgba(41, 179, 0, 0.44)
    ),
    image-url("promotions/strip-background-light.jpg");
}
.promotion-blue {
  background:
    linear-gradient(
      rgba(0, 5, 179, 0.43),
      rgba(0, 5, 179, 0.43)
    ),
    image-url("promotions/strip-background-light.jpg");
}
.promotion-yellow {
  background:
    linear-gradient(
      rgba(255, 248, 0, 0.56), rgba(194, 186, 0, 0.42)
    ),
    image-url("promotions/strip-background-light.jpg");
}
.promotion-black {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    image-url("promotions/strip-background-light.jpg");
}

.promotion-line {
  display: inline-block;
  margin: 7px;
  border: 1px solid #d2d2d2;
  border-radius: 0px 0px 3px 3px;
  width: 200px;
  background-color: #eaeaea;
  text-align: center;
  color: black;

  hr {
    border-color: black;
    margin: 5px 0;
  }

  .promotion-line-title {
    padding: 3px;
    background-color: #666666;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color: white;
    position: relative;
    left: -8px;
    width: 210px;
    box-shadow: 5px 5px 15px 0px #888888;
  }
  .promotion-line-image-container {
    height: 150px;
    //width: 100%;
  }
  .promotion-line-prices {
    padding: 5px 5px 15px 5px;
    .normal-price {
      margin-top: 10px;
      text-decoration: line-through;
      text-align: right;
      font-size: 1.5em;
      color: #888888
    }
    .off-price {
      text-align: right;
      font-size: 2.5em;
      font-family: pacificoregular;
    }
  }
  .promotion-line-image {
    height: 100%;
  }
  .discount {
    margin: 2px;
    position: absolute;
    width: 56px;
    height: 20px;
    padding: 22px 5px;
    background-color: red;
    color: white;
    font-size: 1.2em;
    border: 3px solid rgba(25,25,25,0.5);
    border-radius: 5px 40px 40px 40px;
  }
}