<% if line_item==@current_item %>
<tr id="current_item" class="<%= line_item.id %>">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity %> &times;
  <%= truncate(strip_tags(line_item.product.titulo), :length => 40) %><br />
    <%= button_to t('.delete'), line_item, :method=>:delete, 
      :confirm => t('.confirm')%></td>
  <!--<td class="item_price"><%#= number_to_currency(line_item.total_price) %></td>-->

</tr>