%h3 Inicios
%p Un Mundo de Ovejitas comenzó sus actividades los primeros días del 2014
%h3 Ubicación geografica
%p Somos de Mendoza, Argentina
%h3 Nuestros objetivos
%p Deseamos convertirnos en una tienda online de venta de articulos coloridos, divertidos y modernos
%h3 Nuestros proveedores
%p La totalidad de nuestros productos son manufacturados por nosotros