%h1 Contacto
%hr
.contact
  .store
    %h3
      Un Mundo de Ovejitas
      %small unmundodeovejitas@gmail.com

  .development
    %h4
      Software realizado por:
      %small Lucas Padovan - lucaslockon@gmail.com

