%h1= @title
%hr
%ul
  %li
    %h4 ¿Son confiables?
    %p Sí, somos muy profesionales al momento de realizar las transacciones, por lo que puedes confiar en nosotros.
  %li
    %h4 ¿Cuales son los medios de pago disponibles?
    %p Por el momento solo hemos habilitado las ventas en efectivo
  %li
    %h4 ¿Cómo recibire la mercaderia?
    %p Nos pondremos en contacto con usted para coordinar una reunion en el que se entregará la mercaderia y usted realizará el pago en efectivo de la misma
  %li
    %h4 Me equivoqué y realizé un pedido de algo que realmente no quiero, ¿Que hago?
    %P Si el pedido ha sido procesado, recibirás un email en tu casilla de correo, respondiendo ese email te pones en contacto directamente con nostros. En el asunto debes colocar: "CANCELACION PEDIDO" y en el cuerpo debes colocar el número de orden que has recibido y la razón de la cancelacion.
  %li
    %h4 ¿Cuánto tiempo tendré que esperar para recibir mis productos?
    %p Teniendo cuenta el stock de los productos, las demoras son de aproximadamente 5 días habiles que se tomaran para coordinar la reunión.
  %li
    %h4 ¿Tienes ideas o comentarios acerca de los productos? ¿Acerca de la plataforma?
    %p Pronto habilitaremos un panel para que dejes mensajes en la tienda y en los productos, asi como conexion con las redes sociales!
