!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Un Mundo De Ovejitas
  %body{ style: 'font-family: sans-serif' }
    %div{ style: 'margin-right: auto; margin-left: auto; zoom: 1; margin-right: auto; width: 940px;' }
      = link_to promociones_url, data: { toggle: 'tooltip' }, title: 'Inicio', style: 'text-decoration: none; background-color: #565656; color: transparent; text-shadow: -2px 1px 0px rgba(255,255,255,0.95); -webkit-background-clip: text; -moz-background-clip: text; background-clip: text;' do
        = image_tag 'http://farm4.staticflickr.com/3738/11673136354_9f38f248c6_o.png', alt: 'Un Mundo De Ovejitas', height: '80', style: 'width: 100%; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);'
      = yield
      .signature
        %h3 Un Mundo De Ovejitas
  %footer{ style: 'margin-right: auto; margin-left: auto; zoom: 1; margin-right: auto; width: 940px; color: darkgray; background-color: #666666; text-align: center;' }
    footer
